.modal-overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
}

.modal-overlay.ReactModal__Overlay--after-open {
    opacity: 1;
}

.modal-overlay.ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal-content {
    position: fixed;
    z-index: 2001;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 8px;
    padding: 2rem;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    max-height: 90vh;
}